

<section class="marca">
    <aside class="container">
        <section class="row">
            <section class="col">
                <h3 class="marcat">Marcas con las que trabajamos      </h3>
            </section>
            <section class="col">
                <div class="slider">
                    <img src="https://www.fifconews.com/images/general/logo-fifco-color.png" class="Logof"/>
                  
                    </div>
            </section>
           
    
        </section>
    </aside>
</section>
