<div class="term">
<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Copyright &#64;2023 - Created by Valeria Rojas</h4>
        </div>
        <div class="col-2">
            <h4>Terms & Condition</h4> 
        </div>
        <div class="col-2">
            <h4>Privacy Policy</h4>
        </div>
        <div class="col-2">
            <h4>Contáctenos</h4> 
            <a href="mailto:sudisplay@gmail.com" class="encima">sudisplay&#64;gmail.com</a>
                    </div>  
    </div>
</div>
</div>