<section class="infor">
    <aside class="container">
        <div class="row">
          <div class="col-5">
              <section>
                <h1 class="titu1">¿Quienes somos?</h1>
                <p class="parra">SuDisplay 2.0 es su socio comercial, cumplimos nuestros valores con excelencia y conocimiento del mercado, entendiendo sus necesidades y tendencias actuales. 
                    Nuestra  relación comercial se basa en los más altos estándares de confidencialidad. Complementamos  con una estrategia alineada con socio comercial.
                   Nuestra mezcla de experiencia del equipo humano con más de 25 años en consumo masivo y  las ideas de  nuevas generaciones nos dan una ventaja competitiva!   
                   Iniciamos nuestras operaciones en el 2022.</p>
                </section>
          </div>           
       
          <section class="col">
            <h2 class="titu2">David Vargas F</h2>        
            <h3 class="titu3">Gerente Financiero </h3>
            <img src="/assets/imgen/David.jpeg">     
          </section>
          <div class="col">
            <h2 class="titu2">Carlos Gutiérrez D</h2>        
            <h3 class="titu3">Gerente comercial</h3>
            <img src="/assets/imgen/Cali.jpeg">        
          </div>
                
        </div>
          
      </aside>
</section>