<app-navbar></app-navbar>
<section class="project">
    <section class="container">
      <aside class="row">
        <section class="col">
          <h1 class="atitulo">Quienes Somos?</h1>
    
          <p class="parrafo1">SuDisplay 2.0 es su socio comercial, cumplimos nuestros valores con excelencia y conocimiento del mercado, entendiendo sus necesidades y tendencias actuales. 
            <br>
            Nuestra  relación comercial se basa en los más altos estándares de confidencialidad. 
            <br>Complementamos  con una estrategia alineada con socio comercial.
           <br>Nuestra mezcla de experiencia del equipo humano con más de 25 años en consumo masivo y  las ideas de  nuevas generaciones nos dan una ventaja competitiva!   
           Iniciamos nuestras operaciones en el 2022.</p>
        </section>
      </aside>

</section>
</section>


<section class="project1">
    <section class="container">
      <aside class="row">
        <section class="col">
          <h1 class="atitulo1">En que se especializa SuDisplay?</h1>
        </section>
        <section class="col ">
          <p class="parrafo2">
            Nuestra app nos permite dar soluciones a la medida y brindar una información rápida y oportuna para la toma de decisiones.</p></section>
      </aside>
    </section>
  </section>


  <section class="frase">
    <aside class="container">
        <section class="row">
            <div class="col">
                  <h3 class="frasep"> <i class="bi bi-whatsapp"></i>
                    Contáctenos a nuestro WhatsApp</h3>                
                  <a class="encima" href="https://api.whatsapp.com/send?phone=50670161730&text= Hola!%20Quiero%20contratar%20sus%20servicios!"> 7016-1730</a>
            </div>
            <div class="col">
              <h3 class="frasep"><i class="bi bi-envelope-open titulo"></i>

                Correo electrónico:</h3>
                <a href="mailto:sudisplay@gmail.com" class="encima">sudisplay&#64;gmail.com</a>
              </div>
        </section>
    </aside>
</section>
<div class="formulario">
  <app-forms></app-forms>
</div>


