.project {
    width: 100%;
    padding: 8% 15%;
    margin: auto;  
    color: black;  
}

.project1 {
    width: 100%;
    margin: auto;  
    background-color: black;
    border-bottom: white solid 0.2rem;
    padding: 8% 10%;
    color: white;
}

p{
    font-size: 0.6rem;
    width: 100%;
    font-weight: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h1{
  
    width: 100%;
    margin: 8% 0%;
    font-size: 5rem;
    line-height: 1;
    text-align: center;
}

h2{
    font-size: 2.4rem;
    width: 100%;
    margin: 10% 0%; 
    letter-spacing: 3px;
    text-transform: uppercase;
}

h4{
    font-size: 0.6rem;
    margin: 8% 0%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3{
    font-size: 1.2rem;
    width: 100%;
    margin: auto;
    letter-spacing: 3px;
    text-transform: uppercase;
}

img{
    width: 30%;
}


.bordiz{
    border-left: solid 0.2rem white;
}
.bordd{
    border-left: solid 0.2rem black;
}

.infor{ 
    width: 100%;
    align-items: center;
   background-color: aliceblue;

}
.col-7{
    align-content: center;
    margin: auto;
    text-align: center;    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

