<section class="number">
    <aside class="container">
        <section class="row">
            <div class="col-1">
                    <i class="bi bi-whatsapp titulo"></i> 
            </div>
            <div class="col">
                <p class="titulo">Contáctenos a nuestro WhatsApp</p>    
                <a class="encima" href="https://api.whatsapp.com/send?phone=50670161730&text= Hola!%20Quiero%20contratar%20sus%20servicios!"> 7016-1730</a>
            </div>
        </section>
    </aside>
    <br>
    <br>
    <aside class="container">
        <section class="row">
            <div class="col-1">
                <i class="bi bi-envelope-open titulo"></i>
                </div>
                <div class="col">
                    <p class="titulo">Correo electrónico:</p>    
                    <a href="mailto:sudisplay@gmail.com" class="encima">sudisplay&#64;gmail.com</a>
                </div>
        </section>
    </aside>
</section>
    

                     