<nav class="navbar navbar">
    <div class="container-fluid">
      <img src="./assets/imgen/Logo/Logoaba.png" [routerLink]="['home']" class="logo"> 
      <ul class="nav">
      <div class="menuitem">
        
        <li class="nav-item">
          <a class="menutit" [routerLink]="['/home']">Inicio</a>
        </li>
     <section class="divi">

     </section>
            
            <li class="nav-item">
              <a class="menutit" [routerLink]="['/about']">Contacto</a>
            </li>
          </div>
        
      </ul> 
    </div>
</nav>