<section class="project">
    <h1> Contacto</h1>
    <form action="mailto:sudisplay@gmail.com" method="post" enctype="text/plain">
      <section class="container">
        <div class="row">
          <div class="row">
            <div class="col">
              <label for="inputEmail4" class="form-label titulitos" >Nombre</label>
              <input type="text" name="name" class="form-control" aria-label="Nombre">
            </div>
            <div class="col">
              <label for="inputEmail4" class="form-label titulitos" >Apellido</label>
              <input type="text" class="form-control"  aria-label="Last name" id="apellido">
            </div>
          </div>
            <div class="col">
                <div class="col-auto">
                  <label type="email" class="titulitos">Correo Electrónico</label>
                  <div class="input-group">
                    <div class="input-group-text" >&#64;</div>
                    <input type="text" name="mail" class="form-control" id="email" >
                  </div>              
                </div>
          </div>
          </div>
          </section>
          <section class="container">
          <div class="row">
            <div class="col-12">
                <label class="form-label titulitos">Cuentenos de su proyecto</label>
                <textarea type="text" name="comment" class="form-control" rows="3" placeholder="Ingrese su mensaje"></textarea>
              </div>
          </div>
    </section>
    <input type="submit" value="Enviar" class="button w-button">
    </form>

 </section>    