<!--Seccion 1-->
<section class="indi">
    <aside class="container">
        <div class="row">
          <div class="col">
              <section>
                <h1 class="titulo" >¿Que ofrecemos al mercado?</h1>
              </section>
            </div>
            <div class="col">
              <section>
                <h1 class="desc"> Con disciplina comercial, ofrecemos estos y más indicadores para garantizar la continuidad de la operación.</h1>
              </section>
            </div>
            </div>
          </aside>
</section>

<section class="informacion">
  <aside class="container text-center">
    <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-body">
                  <h3> Mercaderistas 2.0</h3>
              </div>
          </div>
    </div>
    <div class="col">
      <div class="card">
          <div class="card-body">
              <h3>APP</h3>
          </div>
      </div>
</div>
<div class="col">
<div class="card">
  <div class="card-body">
      <h3>Impulsadoras y modelos</h3>
  </div>
</div>
</div>
</div>

<div class="row">
      <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3> Mediciones de la ejecución según lo negociado en el punto de venta</h3>
            </div>
        </div>
        </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h3> Censos de precio de competencia</h3>
              </div>
                  </div>
                  </div>
                  <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3>Estandarización de procesos</h3>
                        </div>
                    </div>
                </div>
                </div>
          <div class="row">
                  <div class="col">
                  <div class="card">
                      <div class="card-body">
                      <h3> Activación BTL del PDV</h3>
                      </div>
                  </div>
                  </div>
              <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h3> Comandos de ejecución</h3>
                    </div>
                </div>
              </div>
          </div>
  </aside>
</section>

<section class="app">
  <div>
    <h1 class="titulo2" >¿Que nos caracteriza de las otras empresas?</h1>
    <h1 class="desc2">Nuestra app nos permite dar soluciones a la medida y brindar una información rápida y oportuna para la toma de desiciones</h1>
</div>
            <aside class="container">
              <div class="row">
              <div class="col">
                <img src="./assets/imgen/Disp1.png" class="foto">
              </div>
              <div class="col">
                <img src="./assets/imgen/Disp2.png" class="foto">
              </div>
              <div class="col">
                <img src="./assets/imgen/Disp3.png" class="foto">
              </div>
          </div>
      </aside>
</section>
  
  