<section>
  
          <h1>Quienes somos?</h1>
</section>
<section class="project1">
  <section class="container">
    <aside class="row">
      <section class="col">
        <h2>Carlos Gutiérrez D</h2>        
          <h3>Gerente comercial</h3>
          <h4> Breve descripcion</h4>
          </section>
        <section class="col-6 bordiz">
          <img src="/assets/imgen/Cali.jpeg">
        </section>
      </aside>
      </section>
  </section>

  <section class="project">
    <section class="container">
      <aside class="row">
        <section class="col-6">
          <img src="/assets/imgen/David.jpeg">
        </section>
        <section class="col bordd">
          <h2>David Vargas F</h2>        
          <h3>Gerente Financiero </h3>
          <h4> Breve descripcion</h4>

            </section>
          
        </aside>
        </section>
    </section>

  <section class="project1">
    <section class="container">
      <aside class="row">
        <section class="col">
          <h2>SuDisplay</h2>        
            <h3>Descripcion y especializacion</h3>
            </section>
          <section class="col bordiz">
            <img src="/assets/imgen/Sudis.png">
          </section>
        </aside>
        </section>
    </section>

    