<div class="main">
  <nav class="navbar navbar">
    <div class="container-fluid">
     <img src="./assets/imgen/Logo/Logoaba.png" [routerLink]="['home']" class="logo"> 
     <ul class="nav">
      <div class="menuitem">
      
        <li class="nav-item">
          <a class="menutit" [routerLink]="['/home']">Inicio</a>
        </li>
     <section class="divi">

     </section>
           
            <li class="nav-item">
              <a class="menutit" [routerLink]="['/about']">Contacto</a>
            </li>
          </div>
        
      </ul> 
    </div>
</nav>
<div data-w-id="4b385126-dd89-7371-92a8-8933c63b72e5" style="transform: translate3d(0px, -1px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0.97; transform-style: preserve-3d;" class="hero-text-wrap">
        <h1 class="portatitu">
          <strong class="bold-text">Una forma nueva de conectar</strong>
          <br>
          Hacer <img src="./assets/imgen/Logo/sonri2.png" [routerLink]="['home']" class="sonri"> 
          a nuestros clientes</h1> 
        </div>
      
</div>
