<section class="infor">
    <aside class="container">
        <div class="row">
            <section class="col foto">
                <h2 class="titu2">David Vargas F</h2>        
                <h3 class="titu3">Gerente Financiero </h3>
                <img src="/assets/imgen/Disp2.jpg" class="disp">     
              </section>
          
                <div class="col foto">
                    <h2 class="titu2">Carlos Gutiérrez D</h2>        
                    <h3 class="titu3">Gerente comercial</h3>
                    <img src="/assets/imgen/Disp2.jpg" class="disp">        
                  </div>
                <div class="col foto">
                    <h2 class="titu2">Carlos Gutiérrez D</h2>        
                    <h3 class="titu3">Gerente comercial</h3>
                    <img src="/assets/imgen/Disp3.jpg" class="disp">        
                  </div>
                  
       
          
          
                
        </div>
          
      </aside>
</section>